@using BusBoard
@using Microsoft.AspNetCore.Identity
@model BusBoard.WebApp.ViewModel.BusInfo

@{
  ViewData["Title"] = "Bus Information";
}

<h2>BusInfo</h2>

<div>
    <p>For postcode @Model.Postcode :</p>
    @foreach (var stop in Model._nearestStops.stopPoints)
    {

        var busData = TflApi.GetBusStopData(stop.NaptanId);

        foreach (var bus in busData)
        {
            <p>At Stop: @bus.StationName -- Bus Number: @bus.LineName, ETA: @bus.TimeToStation, Heading to: @bus.DestinationName </p>
        }
    }

</div>